body{
    background-color: #E5E5E5;
    margin: auto;
    font-family: Ubuntu;
}

header{
   background-color: #3ACE7C;
   max-width: 100%;
}
.navBar{
    display: flex;
    max-width: 100%;
}

.logoPrincipal{
    width: 28%;
    height: 62%;
    margin-top: 10px;
    mix-blend-mode: darken;
}

.navCaixa{
  padding: 42px;
}

.navLogoReciclar{
    max-width: 96%;
}

.navMenu{
  margin-top: 41px;
}

.navLista{
    display: flex;
    justify-content: center;
    background-color: #9CF39C;
    padding: 4px;
}

li{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 41px;
}

li a {
    font-family: Ubuntu;
    line-height: 22px;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #175432;
}
.sobreCaixa{
    display: flex;
    max-width: 97%;
    align-items: center;
    padding: 43px;
  
}

.imgSobre{
    width: 72%;
    margin: 144px 0 0 112px;
}

.sobreTexto{
    font-family: Ubuntu;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
    color: #175432;
    width: 75%;
    margin-top: 50px;
}

.secaoCards{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    background-color:#FFFFFF ;
    padding: 10px;
}


.MuiCardContent-root {
    padding: 16px;
    text-align: center;
    font-size: 21px;
    font-family: Ubuntu;
    color: #175432;
    line-height: 30px;
    height: 40%;
}

.MuiCardActions-root {
    display: flex; 
    justify-content: center;
    padding: 8px;
    align-items: center;
}

.linkCards{
    text-decoration: none;
    color: #5B9F5E;
    font-size: 21px;
    
}

footer{
    background-color: #3ACE7C;
    display: flex;
    justify-content: center;
    padding-top: 10px;
   
}

footer p{
    font-family: Ubuntu;
    color: #175432;
    font-size: 21px;
}

/* :1280px (desktop)
1024px (tablet - horizontal)
768px (tablet - vertical)
420px (mobile) */

@media (max-width: 1280px) {

    header{
       
    }

    .navBar{
        
    }
}
    
@media (max-width: 1024px) {
        
    header{
    }
    
    .navCaixa{
        padding: 21px;
    }

    .navLista{
        display: flex;
        justify-content: center;
        background-color: #9CF39C;
    }
                
    li{
        padding: 18px;
    }

    li a {
        font-size: 1rem;
    }

}

@media (max-width: 768px) {

    header{
        
    }
}

@media (max-width: 420px) {

    header{
        width: 100%;
    }


}
