.sobreCaixa{
    display: flex;
    width: 747px;
    height: 446px;
    margin-left: 34px;
    align-items: center;
}

.sobreTexto{
    justify-content: center;
    text-align: center;
}

.imgSobre{
    width: 304px;
    height: 307px;
    margin-top: 194px;
}